<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Heros of ML and Tilt</title>
    <link rel="stylesheet" href="../css/style2.css"> 
</head> 
<body>
    <div class="background">
        <nav class="Header_menu">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a class="active" href="/stream">Классификация в реальном врмени</a></li>
            </ul>
        </nav>
    </div>
     <div class="dropArea">
        <img id = "content"/>
    </div>
    <div id="container">
        <button id = "startStream" onclick="start()">Запустить стрим</button>
    </div>
    
</body>
<script src="../js/stream.js"> </script>
</html>