<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Heros of ML and Tilt</title>
    <link rel="stylesheet" href="../css/style.css"> 
</head> 
<body>
    <div class="background">
        <nav class="Header_menu">
            <ul>
                <li><a class="active" href="/">Главная</a></li>
                <li><a href="/stream">Классификация в реальном врмени</a></li>
            </ul>
        </nav>
    </div>
    <div class="dropArea" id = "videoDiv">
        
    </div>
    <div id="container">
        <input type="file" name="f" accept="video/mp4" id = "videoFile" class='input'>
        <!--<button id = "download" onclick="workWithVideo()">Выберите файл</button>-->
        <button id = "sendVideo" onclick="workWithVideo()">Oтправить видео на обработку</button>
    </div>
    <table class="Result">
        <thead><tr><th>Результат</th><th>Название файла</th></tr></thead>
        <tbody><tr><td id ="result">...</td><td id ="video_name">...</td></tr></tbody>
    </table>
    <button id = "getData" onclick="getData()">Получить .xls с данными</button>
</body>
<script src="../js/video.js"> </script>
</html>